<% layout('layout/app') %>

<h1 class="text-center">Add Place</h1>
<form action="/places" method="post">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input class="form-control" type="text" name="place[title]" id="title" />
  </div>
  <div class="mb-3">
    <label for="location" class="form-label">Location</label>
    <input
      class="form-control"
      type="text"
      name="place[location]"
      id="location"
    />
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <input
      class="form-control"
      type="text"
      name="place[description]"
      id="description"
    />
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input class="form-control" type="text" name="place[price]" id="price" />
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Image URL</label>
    <input class="form-control" type="text" name="place[image]" id="image" />
  </div>
  <button class="btn btn-success" type="submit">Submit</button>
</form>
